:root{
    --background: #171B26;
    --acent-color: #2D6F77;
    --acent-color-01: #214B58;
    --gray-color: rgb(56, 56, 56);
    --white-color: #e7e7e7;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background);
    color: var(--white-color);
}

.title{
    font-size: 50px;
    text-align: center;
    color: var(--acent-color-01);
    
}

.subtitle{
    text-align: center;
    margin-top: -10px;
    width: 370px;
}
.form-container,
.form-password{
    display: flex;
    flex-direction: column;
}

.form-container{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form{
    width: 450px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.copied{
    background-color: var(--acent-color);
    padding: 6px;
    border-radius: 3px;
    position: absolute;
    top: -25px;
    opacity: 0;
}

.show-message{
    opacity: 1;
    animation: fadein 0.8s ease-in;
}

@keyframes fadein {
    0%{
        transform: translateY(-25px);
    }

    100%{
        transform: translateY(0);
    }
}

.form-password{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    margin-bottom: 10px;
    min-width: 250px;
    max-width: 500px;
}

.password{
    padding: 10px;
    outline: none;
    border: none;
    color: var(--acent-color);
    text-align: center;
    background-color: var(--background);
    font-size: 20px;
    width: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
    resize: none;
}
.password-generate,
.password-copy{
    padding: 10px;
    margin-top: 5px;
    outline: none;
    cursor: pointer;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.password-generate{
    background-color: var(--acent-color-01);
    color: var(--white-color);
    border: 1px solid var(--button-border);
}

.password-copy{
    background-color: var(--background);
    border: 1px solid var(--acent-color-01);
    color: var(--white-color);
}

.fields{
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-top: 20px;
}
.form-fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label-container{
    width: 120px;
}

.form-input{
    outline: none;
}


/* Etiquetas donde se mostrará el total de caracteres */

.long-total{
    margin: 0 5px;
    color: var(--acent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  
    .password{
        width: 340px;
    }
    
  }